<div class="jumbotron">
  <div class="container">
    <h1>{{title}}</h1>
    <p>
      <h6>{{placeMsg}}</h6>
      <p>
  </div>
</div>


<div class="container">
  <div class="card">
    <h4 style="margin-left: 10px" class="card-title">Запись</h4>
  </div>
  <div class="card" style="padding: 10px 20px 0px 20px">
    <table>
      <tr>
        <td>
          <label style="min-width: 150px">Имя</label>
        </td>
        <td>
          <input [(ngModel)]="regName" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Фамилия</label>
        </td>
        <td>
          <input [(ngModel)]="regLastName" />
        </td>
      </tr>
    </table>
    <button style="margin:20px; max-width: 250px" class="btn" [disabled]="!isAddButonEnabled" (click)=registrate()>Записаться</button>
  </div>
</div>

<div style="margin-top: 20px" class="container">
  <div class="card">
    <h3 style="margin-left: 10px" class="card-title">
      Записались:
    </h3>

    <div *ngIf="!partakers || !partakers.length || partakerService.loadingPartakers">
      <i style="margin-left:20px" class="fa fa-spinner" aria-hidden="true"></i>
    <span style="margin-left:20px">список загружается ...</span>
    </div>

    <ul class="list-group list-group-flush">
      <li style="display: flex" class="list-group-item" *ngFor="let p of partakers; let i = index">
        <span style="width: 30px;">{{i+1}} </span>
        <span style="flex-grow: 2">{{p.firstName}} {{p.lastName}}</span>
        <a [style.display]="isAdmin ? '': 'none'" class="btnbtn-outline-danger" style="color: red ;cursor: pointer" (click)="remove(p)"
          aria-label="Delete">
                 <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
        <!--<span >x</span>-->
      </li>
    </ul>
  </div>

</div>


<input *ngIf="!isAdmin" [(ngModel)]="adminInput" class='visible-onhover ritht-corner andmin-input' />


<!--<div class="container">
  <div>
    <h3>Список записавшихся:</h3>
  </div>
  <ul>
    <li *ngFor="let p of partakers">
      <span>{{p.firstName}} {{p.lastName}}</span>
    </li>
  </ul>
</div>-->